@import "modern-normalize/modern-normalize.css";
@import "_var";
@import "_mixins";
@import "_fonts";

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background: #1E1E1E;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.button {
  @include trs(0.3s);
  text-align: center;
  display: block;
  @include br(5px);
  text-decoration: none;
  padding: 8px 28px;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'SF Pro Display', sans-serif;
}

.button-primary {
  color: #fff;
  background: $red;
}

.button-secondary {
  color: $black;
  background: #fff;
}

.wrapper {
  @include br(12px);
  background: $black-primary;
  border: 1px solid $border;
}

.icon {
  cursor: pointer;
}

.input {
  outline: none;
  background: $black-primary;
  @include br(4px);
  border: 1px solid $border;
  padding: 11px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', sans-serif;
  color: #ffffffcf;
}